/* Styles */
* {
    box-sizing: border-box;   
}
body {
    background: -webkit-radial-gradient(center, ellipse cover, #3c78b5 10%, #00386a 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-radial-gradient(center, ellipse cover, #3c78b5 10%, #00386a 90%); /* FF3.6+ */
    background: -ms-radial-gradient(center, ellipse cover, #3c78b5 10%, #00386a 90%); /* IE10 */
    background: -o-radial-gradient(center, ellipse cover, #3c78b5 10%, #00386a 90%); /* Opera 11.10+ */
    background: radial-gradient(center, ellipse cover, #3c78b5 10%, #00386a 90%); /* W3C */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -45%);
    text-align: center;
    margin: 0 5% 0 5%;

}
.container h1 {
    font-size: 5rem;  
    font-family: 'Raleway', sans-serif;  
    font-weight: 800;
    color: white;
}
.container p {
    margin: -30px 0 0 0;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-size: 1rem;  
    font-family: 'Raleway', sans-serif;  
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

